<h1>Lista de Productos</h1>

<button onclick="editItem(0)">Agregar</button>

<div id="productsTable">
    <h1>Cargando productos</h1>
</div>
<div id="ProductEditForm">
    
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="static/js/lista.js"></script>